{% extends 'base.html' %}

{% block title %}
    Login - {{ block.super }}
{% endblock %}

{% block main %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary"> Login </button>
    </form>
{% endblock %}