<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title> {% block title %} MyMBD {% endblock %}</title>
    <style>
        .mymbd-masthead {
            background-color: #EEEEEE;
            margin-bottom: 1em;
        }
    </style>
</head>

<body>
<div class="mymbd-masthead">
    <div class="container">
        <nav class="nav">
            <div class="navbar-brand"> MyMBD</div>
            <a class="nav-link" href="{% url 'core:MovieList' %}"> Movies </a>
            <a class="nav-link mr-auto" href="{% url 'core:TopMovies' %}"> Top 10 movies </a>
            {% if user.is_authenticated %}
                <span class="navbar-text"> Salut {{ user }} </span>
                <a class="nav-link" href="{% url 'user:logout' %}"> Logout </a>
            {% else %}
                <a class="nav-link" href="{% url 'user:login' %}"> Login </a>
            {% endif %}
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 mymbd-main">
            {% block main %} {% endblock %}
        </div>

        <div class="col-sm-3 offset-sm-1 mymbd-sidebar">
            {% block sidebar %} {% endblock %}
        </div>

    </div>
</div>

</body>

</html>